<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar}"></div>

<div th:if="${errorMessage != null}">
    <p th:text="${errorMessage}" style="color: red;"></p>
</div>

<form action="/add" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input name="title">
    <input name="price">
    <button type="submit">전송</button>
</form>

<!--th:name="${_csrf.parameterName}": 서버가 기대하는 CSRF 토큰의 이름입니다.
 th:value="${_csrf.token}": 실제 CSRF 토큰 값입니다.
-->


</body>
</html>